.header {
    height: 65px;
    background: #131921;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo {
    width: 110px;
    object-fit: contain;
    cursor: pointer;
}

.header__location {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.location__icon {
    font-size: 18px;
}

.location__top {
    display: block;
    font-size: 12px;
    color: #ccc;
}

.location__bottom {
    font-size: 14px;
    font-weight: bold;
}

.header__search {
    flex: 1;
    display: flex;
    margin: 0 30px;
    height: 42px;
}

.search__category {
    width: 60px;
    border: none;
    background: #f3f3f3;
    padding: 5px;
    border-radius: 4px 0 0 4px;
}

.search__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.search__button {
    width: 50px;
    border: none;
    background: #febd69;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__option {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header__option span {
    font-size: 12px;
}

.header__option strong {
    font-size: 14px;
}

.language {
    font-weight: bold;
}

.header__option.language,
.header__option.language span,
.header__option.language strong {
    color: #fff;
}

.header__cart {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.cart__icon {
    font-size: 28px;
}

.cart__count {
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 768px) {

    .header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .header__search {
        width: 100%;
        margin: 10px 0;
    }

    .header__right {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .header__location {
        display: none;
    }

}